.strength {
  display: flex;
  align-items: center;
}

.strength > div {
  width: 20px;
  height: 20px;
  transition: background-color 0.3s;
  margin: 5px;
  border-radius: 50%;
}
.one > div:nth-child(-n + 1):nth-child(n + 1) {
  background-color: #ff2e2e;
}
.two > div:nth-child(-n + 2):nth-child(n + 1) {
  background-color: #ffb62e;
}
.three > div:nth-child(-n + 3):nth-child(n + 1) {
  background-color: #ffea2e;
}
.four > div:nth-child(-n + 4):nth-child(n + 1) {
  background-color: #9dff2e;
}
.five > div:nth-child(-n + 5):nth-child(n + 1) {
  background-color: #46ff2e;
}
