.btn {
  background-color: rgb(63, 255, 207);
  width: 300px;
  height: 50px;
  border: none;
  font-family: monospace;
  font-weight: 500;
  font-size: x-large;
}
.btn:hover {
  background-color: rgb(60, 233, 190);
  transition: all 0.2s;
}
.btn:active {
  background-color: rgb(68, 199, 177);
  width: 290px;
  height: 45px;
  transition: all 0.2s;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 30px;
  width: 400px;
  height: 50px;
  transition: all 0.2s;
}
