$myColor: red;
//comment
@mixin color($color: rgb(70, 34, 34)) {
  background-color: $color;
  color: bisque;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
body {
  background-color: rgb(15, 33, 54);
}

.div1 {
  @include color($color: rgb(44, 51, 94));
}
.div2 {
  @include color();
}

h1 {
  color: blanchedalmond;
}

main {
  background-color: bisque;
  h1 {
    color: $myColor;
  }
}
