.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid black;
  width: calc(400px - 50px);
  height: 75px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.788);
  color: rgb(255, 248, 240);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
}
.strengthStr {
  background-color: transparent;
  text-align: center;
  width: 100px;
}
